.s-dislike-sentence {
	--sgy-font-default: 'Sgy Open Sans', 'Open Sans', Helvetica, Arial, sans-serif;
	--sgy-font-light: 'Sgy Muli', 'Muli', sans-serif;
	--sgy-font-bold: 'Sgy Muli Bold', 'Muli Bold', sans-serif;
	--sgy-font-mono-space: 'Courier New', Courier, monospace;
	--sgy-font-cursive: cursive;
	--sgy-background-color-default: #faf9f7;
	display: block;
	color: #333;
	padding-inline-start: 20px;
	border-bottom: 1px solid #e2e2e2;
	padding: 7px 0 7px 20px;
	outline: none;
	word-wrap: break-word;
	text-align: -webkit-match-parent;
	list-style: none;
	background: var(--sgy-background-color-default);
	font: 12px var(--sgy-font-default);
	text-wrap: normal;
	background: var(--sgy-background-color-default);
}
.s-dislike-sentence span {
	float: left;
	margin: -1px 0 0;
	margin-inline-start: -20px;
	height: 16px;
	width: 20px;
	padding: 0;
	outline: none;
	word-wrap: break-word;
}
.s-dislike-comment {
	background: none !important;
	padding: 0 !important;
	cursor: pointer !important;
}
.s-dislike-comment a {
	padding: 0 0 0 !important;
	padding-inline-start: 19px !important;
	display: inline-block;
	margin: 0 0 0 5px;
	font-weight: normal;
	outline: none;
	text-decoration: none;
	word-wrap: break-word;
	cursor: default;
}

.dislike-cover {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
}
.dislike-dialogue {
	width: 50%;
	height: 50%;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	padding: 10px;
}
.dislike-dialogue * {
	margin: 5px;
}
.dislike-cover .dislike-dialogue h1 {
	display: inline !important;
	font-size: 20px !important;
	color: rgb(99, 99, 255) !important;
}
.dislike-cover .dislike-dialogue h3 {
	color: black !important;
}
.dislike-dialogue label {
	font-size: 13px !important;
	color: black !important;
}
.dislike-cover .dislike-dialogue input[type='text'] {
	border: none !important;
	border-bottom: 2px solid rgb(97, 97, 97) !important;
	transition: border-bottom 0.4s !important;
	background-color: rgb(231, 231, 231) !important;
	border-radius: 0 !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	color: rgb(94, 94, 94) !important;
}
.dislike-cover .dislike-dialogue input[type='text']:hover {
	border-bottom: 2px solid rgb(99, 99, 255) !important;
}
.dislike-cover .dislike-dialogue input[type='text']:focus {
	border: none !important;
	outline: none !important;
	border-bottom: 2px solid rgb(99, 99, 255) !important;
}
.dislike-cover .dislike-dialogue input[type='text']:disabled {
	background-color: rgb(174, 174, 174) !important;
	cursor: default !important;
	border-bottom: 2px solid rgb(97, 97, 97) !important;
}
.dislike-dialogue button {
	display: block;
	background-color: rgb(231, 231, 231) !important;
	padding: 3px;
	font-size: 13px;
	border-radius: 5px;
	border: 1.5px solid rgb(97, 97, 97);
	transition: background-color 0.4s, border 0.4s, color 0.4s;
	cursor: pointer;
}
.dislike-dialogue button:hover {
	background-color: rgb(137, 137, 255) !important;
	color: white;
}
.dislike-dialogue button:active {
	background-color: rgb(83, 83, 255) !important;
}
.dislike-dialogue button:disabled {
	background-color: rgb(174, 174, 174) !important;
	color: black !important;
	cursor: default !important;
}
.dislike-cover .dislike-dialogue p {
	color: rgb(138, 138, 138) !important;
	font-size: 23px;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 9.52px;
	margin: 0;
	user-select: none;
	/* font-family: monospace; */
}
.dislike-cover .dislike-dialogue p:hover {
	color: red !important;
}
.dislike-cover .dislike-dialogue div {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0.3px 0.3px 2.6px rgba(0, 0, 0, 0.034), 0.7px 0.7px 6.3px rgba(0, 0, 0, 0.048),
		1.4px 1.3px 11.9px rgba(0, 0, 0, 0.06), 2.5px 2.2px 21.2px rgba(0, 0, 0, 0.072),
		4.6px 4.2px 39.7px rgba(0, 0, 0, 0.086), 11px 10px 95px rgba(0, 0, 0, 0.12);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dislike-cover .dislike-dialogue div::after {
	content: '';
	width: 50px;
	height: 50px;
	border-top: 10px solid rgb(83, 83, 255);
	border-right: 10px solid rgb(83, 83, 255);
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: rotation;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes rotation {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.dislike-cover .dislike-dialogue .loading-hide {
	display: none;
}
.dislike-cover .dislike-dialogue .loading-show {
	display: block;
}

.error-cover {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
}
.error-dialogue {
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	padding: 10px;
}
.error-dialogue * {
	margin: 5px;
}
.error-cover .error-dialogue h1 {
	display: inline !important;
	font-size: 20px !important;
	color: rgb(99, 99, 255) !important;
}
.error-cover .error-dialogue h3 {
	color: black !important;
}
.error-cover .error-dialogue p {
	color: rgb(138, 138, 138) !important;
	font-size: 23px;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 9.52px;
	margin: 0;
	user-select: none;
	/* font-family: monospace; */
}
.error-cover .error-dialogue p:hover {
	color: red !important;
}
